apiVersion: v1
kind: ConfigMap
metadata:
  name: news-app-config
  namespace: customer1 
data:
  DB_HOST: "customer1-pgdb-rw"
  DB_NAME: "news_app_db"
  DB_USER: "news_app"
  DB_PORT: "5432"
  LLM_URL: "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent" 
  MODEL_NAME: "gemini-2.0-flash"
  SUMMARY_PROMPT: |
        You are an expert news analyst working for DARPA  . Analyze these news articles 
        ARTICLES 
          {data} 
        report back a 4-5 sentence summary for each of the most impactful events. Also a few paragraphs on the lesser important articles.  

