apiVersion: v1
kind: ConfigMap
metadata:
  name: news-app-config
  namespace: default
data:
  DB_HOST: "customer1-pgdb-rw"
  DB_NAME: "news_app_db"
  DB_USER: "news_app"
  DB_PORT: "5432"
  LLM_URL: "http://localhost:11434/api/generate" # Used for sidecar setup
  MODEL_NAME: "gemma2"
  SUMMARY_PROMPT: |
    You are a professional news editor. Combine these findings into 
    a Telegram-friendly update with emojis and bold headers. Translate everything to english
    and give the update in english as well. 
    
    DATA TO SUMMARIZE:
    {data}
